body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    background-color: rgba(127, 181, 181, 0.725);
    color: rgb(30, 30, 65);
    box-sizing: border-box;
}

/* -------------- Barra de navegación y elementos comunes--------------------- */

header {
    flex-basis: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left,rgb(215, 82, 82),#c6607e, rgb(238, 165, 177));
    background-color: rgb(238, 165, 177);
    align-items: center;
    height: 5rem;
    box-sizing: border-box;
    padding: 2rem;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 1rem;
}

.nav-item {
    margin: 0;
    
}

.nav-link {
    font-size: 1rem;
    text-decoration:none;
    color: rgb(253, 253, 253) !important;
}

.nav-link:hover {
        -webkit-filter: invert(1);
        filter: invert(1);
}

#LogoSelva {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

#LogoYFrase {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#LaSelva {
    color: rgb(30, 30, 65);
    font-size: 2.5rem;
    font-weight: bolder;
}

.FotosPrincipales {
    max-width: 100%;
    padding: 0;
    display: block;
}

.FotosPrincipalesCelular {
    display: none;
}

.FotosPrincipalesTablet {
    display: none;
}

#LogoSelvaGrande {
    display: block;
    object-fit: contain;
    margin: 2vmax auto;
    height: 16rem;
    width: 16rem;
}

/* El logo grande de la confitería, presente en todas
las páginas, girará mientras se haga click sobre él */

#LogoSelvaGrande:active {
    -webkit-animation: LogoGiratorio 0.1s infinite;
    animation: LogoGiratorio 0.1s infinite;

}

@keyframes LogoGiratorio {
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
        }
}



/* -----------Footer----------- */

footer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background-color: #c27d92;
    font-size: 0.7rem;
    align-items:flex-start;
    width: 100%;
    padding-bottom: 1rem;
    background: linear-gradient(to top left, rgb(253, 113, 139), rgb(223, 157, 187), rgb(250, 83, 111));
}

footer a, a:visited {
    text-decoration: none;
    color:rgb(30, 30, 65)
}

#FooterSuperior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#FooterH2LaSelva {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

#FooterH2LaSelva H2 {
    font-size: 1.2rem;
    font-weight: bolder;
    height: fit-content;
    margin: 0.6rem 0 0.6rem 0;
}

#FooterH2LaSelva img {
    height: 6vmax;
    width: 6vmax;
    align-self: center;
}

.FooterNegrita {
    font-weight: 900;
    font-size: 1rem;
}

.FooterColumna {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.FooterIconoYTexto {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    height: 1rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.FooterIconoYTexto:hover {
        -webkit-filter: invert(1);
        filter: invert(1);
}

.FooterIconoYTexto img {
    height: 1rem;
}

.FooterIconoYTexto i {
    color: rgb(19, 19, 19);
}


#RedesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5rem;
    width: 100%;
}

.RedesSociales img{
    height: 2rem;
    width: 2rem;
}

.RedesSociales img:hover {
        -webkit-filter: invert(1);
        filter: invert(1);
}

/* -------------- Página de inicio ---------------- */

#SubtituloQuienesSomos {
    text-align: center;
    font-size: 3rem;
    margin: 0rem 3rem 1rem 3rem;
}

#ParrafoQuienesSomos {
    text-align: justify;
    font-size: 1.1rem;
    margin: 0rem 3rem 1rem 3rem;
}

#PunteoInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.PunteoQuienesSomos {
    display: flex;
    align-items: center;
}

#MapaIframe {
    width: 25rem;
    height: 12rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    -webkit-transition: 1ms linear;
    transition: 1ms linear;
}

#MapaIframe:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.PunteoQuienesSomos p {
    font-size: 2rem;
    margin: 0.4rem 0 0.4rem 0.4rem;
}

.PunteoQuienesSomos button {
    background-color: #e898b0;
    font-family: Ubuntu;
    font-size: 1.2rem;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    border: solid rgb(255, 255, 255) 2px;
    font-weight:bolder;
}

.PunteoQuienesSomos button:hover {
    background-color: #ed205d;
    cursor: pointer;
    transform: translate(0,-0.2rem);
    color: #fff;
}

/* --------------------- Página de productos ------------------------ */

#DetalleProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    padding-bottom: 3rem;
}

#FotoProducto1y2, #FotoProducto3y4 {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    justify-content: center;
}

#FotoProducto1y2 img, #FotoProducto3y4 img {
    width: 20vmax;
    height: 13vmax;
    border-radius: 1rem;
    border: solid rgb(251, 251, 251) 1px;
    
}

#FotoyTextoProducto1:hover #FotoProducto1, #FotoyTextoProducto2:hover #FotoProducto2,
#FotoyTextoProducto3:hover #FotoProducto3, #FotoyTextoProducto4:hover #FotoProducto4 {
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    transform: scale(1.06);
    
}

#FotoyTextoProducto1, #FotoyTextoProducto2, #FotoyTextoProducto3, #FotoyTextoProducto4 {
    width: 20vmax;
    height: 13vmax;
    position: relative;
}

#TextoProducto1, #TextoProducto2, #TextoProducto3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 5vmax;
  visibility: hidden;
  opacity: 0;

}

#TextoProducto4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 4vmax;
    visibility: hidden;
    opacity: 0;
  
  }

#FotoyTextoProducto1:hover #TextoProducto1, #FotoyTextoProducto2:hover #TextoProducto2, #FotoyTextoProducto3:hover #TextoProducto3, #FotoyTextoProducto4:hover #TextoProducto4 {
visibility: visible;
opacity: 1;
}


/* ---------------------- Página de contacto ------------------------*/

#CuerpoContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

#FormContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3rem;
    width: 100%;
}

.Label {
    font-weight: 900;
    color:rgb(255, 255, 255);
}

input {
    width: 30vmax;
    height: 1rem;
    font-family: 'Ubuntu';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0.4rem;
    background-color: #ebc9d3;
    padding: 0.5rem;
}

input::placeholder {
    color:rgb(80, 80, 135);
}

#FormEnviar {
    width: fit-content;
    height: fit-content;
}

#FormEnviar:hover {
    cursor: pointer;
}

input:last-child {
    width: fit-content;
    height: fit-content;
}


input:last-child:hover {
    cursor: pointer;
}

input::placeholder-shown {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

textarea {
    resize: none;
    font-family: 'Ubuntu';
    width: 30vmax;
    border-radius: 0.4rem;
    background-color: #ebc9d3;
}

textarea::placeholder {
    color:rgb(80, 80, 135);
}

.Error {
    color: red;
    font-weight:700;
}




/* Página de créditos */

#CreditosCaja {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 3rem;
    margin-left: 3rem;
}

#CreditosGracias {
    font-size: 4rem;
    align-self: center;
    margin-top: 0;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }

#CreditosGracias:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


























                    /* ---- MEDIA QUERIES Y BREAKPOINTS ---- */

/* --------------------Breakpoint para
-------------------- celulares */
@media only screen and (max-width: 960px) {
    
    html {
        font-size: 10px;
    }
   
    
    /* Header y elementos comunes-cel */
    header {
        flex-basis: 320px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 20rem;
        box-sizing: border-box;
        padding: 2rem;
    }

        
    .navbar-nav {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        column-gap: 3rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    #LogoSelva {
        object-fit: contain;
        width: 8rem;
        height: 8rem;
        margin: 0;
        padding: 0;
    }

    #LogoYFrase {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    #LaSelva {
        font-size: 3rem;
    }

    .FotosPrincipales {
        display: none;
    }

    .FotosPrincipalesCelular {
        max-width: 100%;
        padding: 0;
        display: block;
    }

    .FotosPrincipalesTablet {
        display: none;
    }

    #LogoSelvaGrande {
        display: block;
        object-fit: contain;
        margin: 2vmax auto;
        height: 16rem;
        width: 16rem;
    }
    /* FOOTER -CEL */
    footer {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        font-size: 1rem;
        align-items:center;
        width: 100%;
        padding-bottom: 1rem;
        background: linear-gradient(to top,rgb(215, 82, 82),#c6607e, rgb(238, 165, 177));

    
    }
    
    
    #FooterSuperior {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;
    }

    
    #FooterH2LaSelva {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    
    #FooterH2LaSelva H2 {
        font-size: 2rem;
        font-weight: bolder;
        height: fit-content;
        margin: 0.6rem 0 0.6rem 0;
    }
    
    #FooterH2LaSelva img {
        height: 20vmax;
        width: 20vmax;
    }
    
    .FooterNegrita {
        font-weight: 900;
        font-size: 2rem;
        padding-top: 1rem;
    }
    
    .FooterColumna {
        display: flex;
        flex-direction: column;
        row-gap: 0.9rem;
        align-self: flex-start;
        margin-left: 0.5rem;

    }
    
    .FooterIconoYTexto {
        justify-content: flex-start;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-height:max-content;

    }
    
    
    .FooterIconoYTexto img {
        height: 1.5rem;
    }

    
    .RedesSociales img{
        height: 3rem;
        width: 3rem;
    }
    
    
    /* Página de inicio cel */


    #ParrafoQuienesSomos {
        font-size: 1.3rem;
    }
    
    #PunteoInicio {
        font-size: 1.6rem;
    }
    
    
    .PunteoQuienesSomos p {
        font-size: 3rem;
    }
    
    .PunteoQuienesSomos button {
        font-size: 1.7rem;
        border-radius: 2rem;
    }


/* Página de productos cel */

#DetalleProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    padding-bottom: 3rem;
}

#FotoProducto1y2, #FotoProducto3y4 {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
}

#FotoProducto1y2 img, #FotoProducto3y4 img {
    width: 40vmax;
    height: 26vmax;
}

#FotoyTextoProducto1, #FotoyTextoProducto2, #FotoyTextoProducto3, #FotoyTextoProducto4 {
    width: 40vmax;
    height: 26vmax;
}

#TextoProducto1, #TextoProducto2, #TextoProducto3 {
  font-size: 10vmax;
}

#TextoProducto4 {
    font-size: 8vmax;  
  }

/* Página de contacto cel */


#FormContacto {
    max-width: 100%;
}

.Label {
    font-size: 1.5rem;

}

input {
    width: 80%;
    margin: 0;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

input:last-child {
    font-size: 1.5rem;
}

#FormEnviar{
    font-size: 1.5rem;
}

textarea {
    width: 80%;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.Error {
    font-size: 1.5rem;
}

/* Página de créditos cel */

#CreditosCaja {
    font-size: 2rem;
}

























/*-------------------------------------------Breakpoint-
--------------------------------------- para tablets */

@media only screen and (min-width:426px) and (max-width:960px) {
    html {
        font-size:13px;
    }
    
    .FotosPrincipales {
        display: none;
    }

    .FotosPrincipalesCelular {
        display: none;
    }

    .FotosPrincipalesTablet {
        display: block;
        max-width: 100%;
        padding: 0;
    }
}




















/* --------------Breakpoint para pantallas más chicas que 
---------------------------------un celular Mobile-S */

@media only screen and  (max-width: 319px) {
html {
    font-size: 0.7vmax;
}
    
#FooterH2LaSelva img {
    height: 10vmax;
    width: 10vmax;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}
/* página de productos mini-celulares */

#FotoProducto1y2 img, #FotoProducto3y4 img {
    width: 20rem;
    height: 16rem;
    border-radius: 2rem;

}

#FotoyTextoProducto1, #FotoyTextoProducto2, #FotoyTextoProducto3, #FotoyTextoProducto4 {
    width: 20rem;
    height: 16rem;
    margin: 0;
}

#TextoProducto1, #TextoProducto2, #TextoProducto3 {
  font-size: 4rem;
}

#TextoProducto4 {
    font-size: 3.3rem;  
  }

/* Página de contacto mini celulares  */

input {
    font-size: 3rem;
    height: 8rem;
    border-radius: 1.2rem;
}

textarea {
    font-size: 3rem;
    border-radius: 1.2rem;
}

.Error {
    font-size: 3rem;
}

}
}